<header>
  <div class="dark container">
    <a href="/">
      <span id="brackets" class="colortext">[ ]</span>
      <span id="logotext">mattiskan.se</span>
    </a>
    <form class="pull-right" action="/blog/search" method="GET">
      <input name="query" type="text" value="{{request.GET.query}}"/>
    </form>
  </div>
  <ul class="bright container">
    <li class="active"><a href="/blog">Blog</a></li>
    <li><a href="#about">About me</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#projects">Projects</a></li>
  </ul>
</header>
